
  <body onload = "init();">


  <button type="button" id="myButton" class=" pull-right btn btn-primary" onclick = "newJump();">
    Add a Jump
  </button>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Sliding Menu Panel</title>


  <%= stylesheet_link_tag 'application' %>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


  <script type="text/javascript">
  $(document).ready(function() {
    $("#menu").height($(document).height());
  });
  </script>


  <script type="text/javascript">
  $(document).ready(function() {
    setTimeout( function(){$('#menu').css('left','-160px');},500);
  });
  </script>

  <div id="menu" class="menu">
    <div class="arrow"><</div>
    <nav class="nav">
      <h3>Instructions</h3>
      <p>1. Click on New Arena  </p>
      <p>2. Fill in the dimensions of your arena </p>
      <p>3. Go to right panel and select a jump</p>
      <p>4. Drag and drop jump to the place you want it in the arena </p>
      <p>5. Repeat until satisfied</p>
      <p>6. Measure strides between jumps </p>
    </nav>
  </div>

<canvas class="main-canvas" id="myCanvas" width="1000" height="800"
style="border:3px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>



<br>
<br>
<br>
<br>

</body>
</html>
