  <!--
  Step 1: Make this prop availible to the dom, but hidden from users.
  Step 2: Get this value in javascript.

 -->
  <article id= "user" data-userid = "<%= current_user[:id] %>"></article>

  <div id="menu" class="menu">
    <div class="arrow"><</div>
    <nav class="nav">
      <h3>Instructions</h3>
      <p>1. Click on New Arena  </p>
      <p>2. Fill in the dimensions of your arena </p>
      <p>3. Go to right panel and select a jump</p>
      <p>4. Drag and drop jump to the place you want it in the arena </p>
      <p>5. Repeat until satisfied</p>
      <p>6. Measure strides between jumps </p>
    </nav>
  </div>

<div class = "pull-right col-md-6">
  <!-- Button trigger modal -->
  <button type="button" id="myButton" class="pull-right btn btn-primary btn-lg">
    Add a Jump
  </button>
  <button type="button" id="saveButton" class="pull-right btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Save Course
  </button>

</div>


  <canvas class="main-canvas" id="myCanvas" width="1000" height="600">
      Your browser does not support the HTML5 canvas tag.
  </canvas>


<br>
<br>
<br>
<br>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#menu").height($(document).height());
      init();
      setTimeout( function(){$('#menu').css('left','-160px');},500);
    });
  </script>
<% end %>
