@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
.navbar-brand{
  font-size: 25px;
  padding: 10px;
}

.sign-in{
  margin-right: 5px;
}

 #myCanvas{
   background-color: #D1C860;
   border-radius: 100px;
 }

.full {
  background-image: url(image-path('Lantinus_and_Lynch.jpg')) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

}

.jumbotron{
  background-color: transparent !important;
  width: 1294px;
  height:600px;
}


.image-responsive {
  width: 100%;
}

.image-crop{
  overflow:hidden
}

a:hover{
  text-decoration:none
}

.home-page {
  .navbar{
    margin-bottom: 0;}
  .featurette a {
    color: #333333  }

}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: 40px;
  display: block;
  border: 2px solid black;
  border-radius: 100px;
}

#myButton{
  display: inline-block;
  padding-right: 20px !important;
}

#anotherButton{
  margin-top: 20px;
}

#load{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .todo{
  text-align: center;
} */

.colpick {
  z-index: 9999;
}
